html {
    scroll-behavior: smooth;
}
.body {
    background-color: black;
}
.fixed-top {
    background-color: black!important;
    border-bottom: 3px solid #03ADC6;
}
.fixed-top .nav-item {
    padding-left: 15px;
}
.navbar-light .navbar-toggler:focus{
    outline: 1px solid white;
}
.fixed-top {
    background-color: black!important;
    border-bottom: 3px solid #BB86FC;
}
.fixed-top .nav-item .nav-link{
    color: #BB86FC;
}
.fixed-top .nav-item .nav-link:hover {
    color: white;
}
.header {
    padding-top: 50px;
    max-height: 700px;
}
.header .title {
    text-align: center;
    margin-bottom: 30px;
    color: #BB86FC;
    font-size: 4em;
    font-weight: 400;
}
.header .subtitle {
    text-align: center;
    font-weight: 300;
}
.text {
    color: white;
	position: absolute;
	top: 35%;
    left: 10%;
}
.text button {
    margin-top: 20px;
    color: white;
    border-radius: 20px;
    border: 5px solid #BB86FC;
    padding: 15px;
}
.text button:hover {
    background: #BB86FC;
    border: 5px solid #BB86FC;
}
.section-divider {
    border: 2px solid #BB86FC;
}
.about-cards h1 {
    text-align: left;
    margin-bottom: 30px;
    color: #BB86FC;
    font-size: 4em;
}
.card {
    background-color: black!important;
}
.card .card-img {
    align-self: center;
    object-fit: cover;
    width: 100%;
    object-fit: cover;
    border-radius: 40px;
}
.about-cards .card-title {
    text-transform: uppercase;
    color: #BB86FC
}
.about-cards .card-subtitle {
    font-style: italic;
    color: #3700B3;
}
.about-cards .card-text {
    color: white;
    font-weight: 300;
    line-height: 30px;
}
.about-cards #bio {
    border: 4px solid #3700B3;
    box-shadow: 4px 4px 2px 3px rgba(187, 134, 252, 0.3);
    border-radius: 40px;
    padding: 30px;
}
hr.divider {
    border: 3px solid #3700B3;
    border-radius: 5%;
    max-width: 40%;
    margin-left: 30%;
    margin-right: auto;
}
.list-group-item.list-group-item-action.active {
    background-color: #E3C6AD;
    color: #135E46
}
.footer {
    padding: 80px 120px;
    background-color: #1F1F1F;
    color: white;
}
.footer h5 {
    padding-bottom: 10px;
}
.footer a {
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: white;
}
.footer a:hover {
    color: #03ADC6;
}
.footer .bottom-info {
    text-align: center;
}
.footer #copyright-description {
    padding: 20px 0px;
}