{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
</head>
<div class="about">
    <div class="header">
        <div class="title">{% block title %}About this Site{% endblock %}</div>
        <hr class="section-divider" />
    </div>
    <div class="statement jumbotron">
        <h1 class="title">Statement</h1>
        <div>
            Thank you for taking the time to visit my portfolio site! 
            This statement serves as a quick clarification about the contents on this site and how they have evolved. 
            This site originates as part of the Portfolio Hackathon organized by MLH for its Fellowship Program in summer 2022, for track Production Engineering. 
            I collaborated with fellow team members Luis Fernando Carnage’s and Marcela Ixchel Gomez Wuotto. See this <a href="{{ state_links.hack_portfolio_github }}">GitHub link</a> 
            and <a href="{{ state_links.hack_portfolio_devpost }}">Devpost link</a> for more information about how the site is like when it was first created as part of the hackathon.
        </div>
        <div>
            Then during the fellowship, I decided to redesign this portfolio site and improve it, 
            beyond what I originally contributed to during the hackathon. This site is designed entirely by me using Figma. 
            I am not very experienced in UI/UX design, so I definitely tried to make the site as appealing as possible. 
            Then I used flask, bootstrap, html and css to improve the site to what it looks like right now. 
        </div>
        <div>
            As part of the fellowship, I also get to improve the site by experimenting and using tools like VPS server 
            (through DigitalOcean), tmux sessions, python unittest, mysql database, docker containers and many other tools. 
            I definitely want to give an acknowledgement to the <a href="{{ state_links.mlh_fellowship }}">MLH Fellowship</a> for providing me with a curriculum to improve 
            this site and other resources like mentors, pod leaders, and workshops. These resources all support me in building 
            and improving this site.
        </div>
        <div>
            For more information about how the site has evolved, please visit the <a href="{{ state_links.portfolio_github }}">GitHub link</a> for this website. 
            Also see below for resources I used to create this site!
        </div>
    </div>
    <div class="resources jumbotron">
        <h1 class="title">Resources</h1>
        <div class="links list-group">
            {% for entry in resource_links %}
                {% if entry.title %}
                    <div>{{ entry.title }}</div>
                {% endif %}
                {% for link in entry.link %}
                    <a href="{{ link }}" class="list-group-item list-group-item-action">
                        {{ entry.text }}
                        {% if loop.length != 1 %}
                            ({{ loop.index }})
                        {% endif %}
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}