{% extends 'base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/hobbies.css') }}">
</head>
<div class="hobbies">
  <div class="header">
    <h1 class="title text-uppercase">{% block title %}Hobbies{% endblock %}</h1>
    <object class="curve" data="../static/img/curve-line.svg"></object>
    <h3 class="subtitle">
        Learn a bit more about my hobbies on this page. Feel free to reach out to me if you have similar interests!
    </h3>
  </div>
  <hr class="section-divider">
  <div class="container">
    <div class="row">
        <div id="vertical-divider" class="col-2">
            <object class="time-line" data="../static/img/time-line.svg"></object>
        </div>
        <div class="col-10">
          {% for entry in hobby %}
            <div class="hobbies-row row">
              <div class="item-info col-6">
                  <h3 class="item-title">{{ entry.title }}</h3>
                  <div>{{ entry.text }}</div>
              </div>
              <div class="item-image col-6">
                <div id="{{ entry.id }}" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    {% for img in entry.images %}
                      {% if loop.first %}
                        {% set class = 'active' %}
                      {% else %}
                        {% set class = '' %}
                      {% endif %}
                        <li data-target="#{{ entry.id }}" data-slide-to="{{ loop.index0 }}" class="{{ class }}"></li>
                    {% endfor %}
                  </ol>
                  <div class="carousel-inner">
                    {% for img in entry.images %}
                      {% if loop.first %}
                        {% set class = 'active' %}
                      {% else %}
                        {% set class = '' %}
                      {% endif %}
                      <div class="carousel-item {{ class }}">
                        <img class="d-block w-100" src="{{ img }}">
                      </div>
                    {% endfor %}
                  </div>
                  {% set controls = ['prev', 'next'] %}
                  {% for item in controls %}
                    <a class="carousel-control-{{ item }}" href="#{{ entry.id }}" role="button" data-slide="{{ item }}">
                      <span class="carousel-control-{{ item }}-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
    </div>
  </div>
</div>
{% endblock %}