{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/hobbies.css') }}">
</head>
<div class="hobbies">
    <div class="header">
        <h1 class="title text-uppercase">{% block title %}Hobbies{% endblock %}</h1>
        <object class="curve" data="../static/img/curve-line.svg"></object>
        <h3 class="subtitle">
            Learn a bit more about my hobbies on this page. Feel free to reach out to you if you have similar interests!
        </h3>
    </div>
    <hr class="section-divider">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <object class="time-line" data="../static/img/time-line.svg"></object>
            </div>
            <div class="col-10">
                <div class="col-6">
                    <div>
                        My hobbies span a few areas, but overall, I am a quite indoor person. 
                        I like to read, watch movies and anime, listen to music (more on that in the music section), 
                        solve soduku puzzles and watch shows online (of course). I am also a foodie. I always have a 
                        genuine interest and curiosity for food that I have not tried before.
                    </div>
                </div>
                <div class="col-6">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}