{% extends 'base.html' %}

{% block content %}
<div class="hobbies">
    <div class="hero">
        <h1 id="page-title">{% block title %}Our Hobbies{% endblock %}</h1>
    </div>
    <div class="hobbies-profile">
        <p>
        <h2>Lin</h2>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapse21"
            aria-expanded="false" aria-controls="multiCollapse21">View Hobbies</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapse22"
            aria-expanded="false" aria-controls="multiCollapse22">View Music Taste</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapse23"
            aria-expanded="false" aria-controls="multiCollapse23">View Map of Travel</button>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target=".multi-collapse"
            aria-expanded="false" aria-controls="multiCollapse21 multiCollapse22 multiCollapse23">Toggle All Views (Try
            It!)</button>
        </p>
        <hr />
        <div class="row">
            <div class="col">
                <div class="collapse multi-collapse show" id="multiCollapse21">
                    <div class="card card-body">
                        My hobbies span a few areas, but overall, I am a quite indoor person. I like to read, watch
                        movies and anime, listen to music (more on that in the music section), solve soduku puzzles and
                        watch shows online (of course). I am also a foodie. I always have a genuine interest and
                        curiosity for food that I have not tried before.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse22">
                    <div class="card card-body">
                        My music taste changes quite a bit over years as well. Generally, I listen to pop music in both
                        Chinese and English, and whatever kind of music I find online. In addition, I also really like
                        kpop and track music from movies, shows and anime.
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="collapse multi-collapse" id="multiCollapse23">
                    <div class="card card-body">
                        One memorable trip I had a few years ago is to the Niagara Falls. I will recommend it to anyone
                        who is not boat-sick. The view is quite beautiful, as shown in the image below (from Creative
                        Commons sadly).
                        <br />
                        <br />
                        <img
                            src="https://upload.wikimedia.org/wikipedia/commons/c/c8/Niagara_Falls%2C_Ontario_-_2.jpg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
