{% extends 'base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<div class="body">
  <header class="header">
    <div class="text">
      <h1 class="title text-uppercase">Welcome!</h1>
      <h2 class="subtitle">My name is Lin and this is my portfolio site.</h2>
      <a href="#about"><button class="btn btn-outline-secondary btn-lg">Learn More</button></a>
    </div>
  </header>
  <hr class="section-divider">
  <div class="about-cards" id="about">
    <h1 class="text-uppercase">{% block title %}About{% endblock %}</h1>
    <div class="container">
      <div class="row">
        <div class="card col-lg-6 col-md-6 col-sm-12">
            <div class="card-body">
              <img class="card-img" src="../static/img/lin.JPG" alt="Portfolio Image">
            </div>
        </div>
        <div class="card col-lg-6 col-md-6 col-sm-12">
          <div class="card-body" id="bio">
            <h2 class="card-title">Lin Jing Liu</h2>
            <h3 class="card-subtitle mb-2">Class of 2025, Cornell University</h3>
            <h5 class="card-text">
              I am a rising sophomore at Cornell University, majoring in Computer Science. I am
              passionate about software engineering and hopes to learn more about the industry through both academic and
              professional opportunities. Look around this website to know more about me and this team!
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="identity-section">
    <h1 class="text-uppercase">Who am I?</h1>
    <div class="identity-body">
      <div class="row" id="first-row">
        <div class="card col-lg-6 col-md-6 col-sm-12">
          <div class="card-body">
            <h3>Computer Science Major</h3>
          </div>
        </div>
        <div class="card col-lg-6 col-md-6 col-sm-12">
          <div class="card-body">
            <h3>Aspiring Software Engineer</h3>
          </div>
        </div>
      </div>
      <div class="row" id="second-row">
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <div class="card-body">
            <h3>Student</h3>
          </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <div class="card-body">
            <h3>STEM Instructor</h3>
          </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-12">
          <div class="card-body">
            <h3>Teammate</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr class="divider" id="index-divider" />
  <div class="connect-section" id="contact">
    <h2 id="connect-title">Connect with Me!</h2>
    <div class="container">
      <div class="row">
        <div class="card col-lg-4 col-md-4 col-sm-6">
          <div class="card-body">
            <a href="https://www.linkedin.com/in/lin-jing-l-50a6a0216/" target="_blank" rel="noopener noreferrer">
              <img src="../static/img/linkedin.png">
            </a>
          </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-6">
          <div class="card-body">
            <a href="https://github.com/LinJing-Liu" target="_blank" rel="noopener noreferrer">
              <img id="github" src="../static/img/github.png">
            </a>
          </div>
        </div>
        <div class="card col-lg-4 col-md-4 col-sm-6">
          <div class="card-body">
            <a href="https://www.instagram.com/linjl1993/" target="_blank" rel="noopener noreferrer">
              <img src="../static/img/instagram.png">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
