{% extends 'base.html' %}

{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <script>
    async function getPosts() {
      let url = '/api/timeline_post';
      try {
          let res = await fetch(url);
          return await res.json();
      } catch (error) {
          console.log(error);
      }
    }

    console.log(getPosts());
  </script>
</head>
<div class="body">
  <header class="header">
    <div class="text">
      <h1 class="title text-uppercase">Welcome!</h1>
      <h2 class="subtitle">My name is {{ header.name }} and this is my portfolio site.</h2>
      <a href="#about"><button class="btn btn-outline-secondary btn-lg">Learn More</button></a>
    </div>
  </header>
  <hr class="section-divider">
  <div class="about-cards" id="about">
    <h1 class="text-uppercase">{% block title %}About{% endblock %}</h1>
    <div class="container">
      <div class="row">
        <div class="card col-lg-6 col-md-6 col-sm-12">
            <div class="card-body">
              <img class="card-img" src="../static/img/lin.JPG" alt="Portfolio Image">
            </div>
        </div>
        <div class="card col-lg-6 col-md-6 col-sm-12">
          <div class="card-body" id="bio">
            <h2 class="card-title">
              {{ content.name }}
            </h2>
            <h3 class="card-subtitle mb-2">
              {{ content.about_subtitle }}
            </h3>
            <h5 class="card-text">
              {{ content.about_info }}
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="identity-section">
    <h1 class="text-uppercase">Who am I?</h1>
    <div class="identity-body">
      <div class="row" id="first-row">
        {% for entry in identity.first_row %}
          <div class="card col-lg-6 col-md-6 col-sm-12">
            <div class="card-body">
              <h3>{{ entry }}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="row" id="second-row">
        {% for entry in identity.second_row %}
          <div class="card col-lg-4 col-md-4 col-sm-12">
            <div class="card-body">
              <h3>{{ entry }}</h3>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <hr class="divider" id="index-divider" />
  <div class="connect-section" id="contact">
    <h2 id="connect-title">Connect with Me!</h2>
    <div class="container">
      <div class="row">
        {% for entry in connect %}
          <div class="card col-lg-4 col-md-4 col-sm-6">
            <div class="card-body">
              <a href="{{ entry.link }}" target="_blank" rel="noopener noreferrer">
                {% if entry.background_white %}
                  <img class="background-white" src="{{ entry.img }}">
                {% else %}
                  <img src="{{ entry.img }}">
                {% endif %}
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
