{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prof.css') }}">
</head>
<div class="prof">
    <header class="header">
        <div class="hero">
            <h1 class="title text-uppercase">{% block title %}Education & Experience{% endblock %}</h1>
            <h3 class="subtitle">professional profile | skills | projects </h3>
        </div>
    </header>
    <hr class="section-divider">
    <div class="info-container">
        <h1 class="title text-uppercase" id="prof-title">Professional Profile</h1>
        <div class="jumbotron">
            <div class="wrapper">
                <h4 class="info-subtitle">Education: {{ education.title }}</h4>
                <h5>Relevant Coursework: {{ education.coursework }}</h5>
                <h4 class="info-subtitle">Skills</h4>
                <ul>
                    {% for entry in skills %}
                        <li>
                            <h5>{{ entry }}</h5>
                        </li>
                    {% endfor %}
                </ul>
                <h4 class="info-subtitle">Professional Experience</h4>
                <ul>
                    {% for entry in experience %}
                        <li>
                            <h5>{{ entry }}</h5>
                        </li>
                    {% endfor %}
                </ul>
                <p class="links">
                    {% for entry in links %}
                        <a class="btn btn-primary btn-lg"
                            href="{{ entry.link }}" target="_blank"
                            rel="noopener noreferrer" role="button">
                            {{ entry.text }}
                        </a>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}