{% extends 'base.html' %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/prof.css') }}">
</head>
<div class="prof">
    <header class="header">
        <div class="hero">
            <h1 class="title text-uppercase">{% block title %}Education & Experience{% endblock %}</h1>
            <h3 class="subtitle">professional profile | skills | projects </h3>
        </div>
    </header>
    <hr class="section-divider">
    <div class="info-container">
        <h1 class="title text-uppercase" id="prof-title">Professional Profile</h1>
        <div class="jumbotron">
            <div class="wrapper">
                <h4 class="info-subtitle">
                    Education: CS Major, Undergraduate '25, Cornell University
                </h4>
                <h5>
                    Relevant Coursework: Object-Oriented Programming & Data Structures (Java), Discrete Structures,
                    Engineering Applications of Operations Research
                </h5>
                <h4 class="info-subtitle">Skills</h4>
                <ul>
                    <li>
                        <h5>Proficient in Java and JavaScript</h5>
                    </li>
                    <li>
                        <h5>Familiar with React, Swift, HTML, CSS, bash script, mysql, and dart</h5>
                    </li>
                    <li>
                        <h5>Technical tools: XCode, Firebase (Storage System and Cloud Firestore), Flutter, Docker, VPS, Canva, Tableau, and Excel (for data analysis)</h5>
                    </li>
                </ul>
                <h4 class="info-subtitle">Professional Experience</h4>
                <ul>
                    <li>
                        <h5>MLH Fellowship, Production Engineering Track, Summer 2022</h5>
                    </li>
                    <li>
                        <h5>Cornell Cup Robotics Project Team, CS Subteam, August 2021-Present</h5>
                    </li>
                    <li>
                        <h5>STEM Kids NYC, STEM Teacher, July 2020-Present</h5>
                    </li>
                </ul>
                <p class="links">
                    <a class="btn btn-primary btn-lg"
                        href="https://www.linkedin.com/in/lin-jing-l-50a6a0216/" target="_blank"
                        rel="noopener noreferrer" role="button">
                        Connect
                    </a>
                    <a class="btn btn-primary btn-lg"
                        href="https://drive.google.com/file/d/1MkmQbwmiIQk_UuI9j6dErldnKGbVnEJH/view?usp=sharing"
                        target="_blank" rel="noopener noreferrer" role="button">
                        Resume
                    </a>
                </p>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}